{% extends "base.html" %}
{% block addactive %}class="active"{% end %}
{% block content %}
<div class="jumbotron">
	<div class="container">
		<h2>Add a {{ conf['html']['tasktype'] }}</h2>
	</div>
	<div class="container">
		<a data-toggle="modal" href="#addTaskModal" class="btn btn-primary btn-lg">Add a {{ conf['html']['tasktype'].lower() }}</a>
	</div>
</div>
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="atmodal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ conf['html']['tasktype'] }}</h4>
			</div>
			<div class="modal-body">
				{% for t in conf['tasks'] %}
					<div class="input-group">
						<span class="input-group-addon">{{ cf(t) }}</span>
						<input type="text" class="form-control" placeholder="{{ conf['taskexamples'][t] }}" id="{{ t.lower() }}">
						<span class="input-group-addon"><span class="{{ 'glyphicon glyphicon-exclamation-sign' if conf['tasks'][t] == "False" else '' }}"></span></span>
					</div>
					<br />
				{% end %}
				<h6>Note: Fields with a <span class="glyphicon glyphicon-exclamation-sign"></span> are required.</h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-success">Submit {{conf['html']['tasktype'] }}</button>
			</div>
		</div>
	</div>
</div>
<script>
	formgood = true;
	$('.btn-success').click(function() {
			{% for t in conf['tasks'] %}
				rq = {{ 'false' if conf['tasks'][t] == "True" else 'true' }};
				if(rq && $('#{{ t.lower() }}').val() == '') {
				alert('You need to fill in {{ cf(t) }}!');
				formgood = false;;
				}
			{% end %}
			if(formgood) { console.log('form all good'); }
			else { formgood = true; }
			});
</script>
{% end %}
