{% extends "base.html" %}
{% block tasksactive %}class="active"{% end %}
{% block content %}
<div class="jumbotron">
	<div class="container">
		<h2>{{ conf['html']['tasktypeplural'] }}</h2>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">{{ conf['html']['tasktype'] }} List</div>
	<div class="panel-body">
		<p>{{ conf['html']['tldescription'] }}</p>
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
			{% for th in conf['tasks'] %}
				<th>{{ cf(th) }}</th>
			{% end %}
			</tr>
		</thead>
		<tbody>
			{% for i in range(len(tasks)) %}
			<tr>
				<td>{{ i + 1 }}</td>
				{% for td in tasks[i] %}
				<td>{{ td }}</td>
				{% end %}
			</tr>
			{% end %}
		</tbody>
	</table>
<script>
	var ws = new WebSocket({{ "'" + conf['websockets']['address'] + "'" }});
	ws.onopen = function () {
		console.log('Websocket opened.');
		requestUpdate();
	};
	ws.onmessage = function(ev) {
		console.log("Message received: " + ev.data);
	};
	ws.onclose = function(ev) {
		console.log("Websocket closed: " + ev.data);
	};
	ws.onerror = function(ev) {
		console.log("Websocket error:  " + ev.data);
	};
	function requestUpdate() {
		ws.send('update');
		setTimeout(requestUpdate, {{ conf['websockets']['updatefreq'] }}000);
	}
</script>
{% end %}
