{% extends "base.html" %}
{% block tasksactive %}class="active"{% end %}
{% block content %}
<div class="jumbotron">
	<div class="container">
		<h2>{{ conf['html']['tasktypeplural'] }}</h2>
	</div>
</div>
<script>
	var ws = new WebSocket({{ "'" + conf['websockets']['address'] + "'" }});
	ws.onopen = function () {
		console.log('Websocket opened.');
		requestUpdate();
	};
	ws.onmessage = function(ev) {
		console.log("Message received: " + ev.data);
	};
	ws.onclose = function(ev) {
		console.log("Websocket closed: " + ev.data);
	};
	ws.onerror = function(ev) {
		console.log("Websocket error:  " + ev.data);
	};
	function requestUpdate() {
		ws.send('update');
		setTimeout(requestUpdate, {{ conf['websockets']['updatefreq'] }}000);
	}
</script>
{% end %}
